[servers]

%{~ for i in web }
${i["name"]}   ansible_host=${i["network_interface"][0]["nat_ip_address"]}
%{ endfor ~}

%{~ for i in wm-each }
${i["name"]}   ansible_host=${i["network_interface"][0]["nat_ip_address"]}
%{ endfor ~}

%{~ for i in wm-disk }
${i["name"]}   ansible_host=${i["network_interface"][0]["nat_ip_address"]}
%{ endfor ~}
